# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

# Additions by Rito
*.cmd
*.cmd.meta

# Cpp
*.vcxproj
*.vcxproj.*

# CSharp
.vs/
bin/
obj/

*.sln
*.config
*.csproj